.App {
  text-align: center;
}

.header {
  margin: 1% 5%;
}

.brand-button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.brand-button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
  color: inherit;
}

.info-wrapper {
  margin: 2.5% 5%;
}

h3 {
  text-align: left;
  padding: 1% 0;
}

.info-elem {
  padding: 2% 0;
}

@media screen and (max-width: 600px) {
  .dropdown-menu {
    font-size: .5em;
  }
}