.matrix-wrapper {
    text-align: center;
}

.matrix-elem {
    padding: 4.5%;
    margin: 0%;
    font-weight: 500;
    color: black;
} 

.matrix-row {
    vertical-align: center;
    margin: 0;
}

.review-section {
    padding: 0;
}

.matrix-header {
    padding: 2.5% 0% 2.5% 7%;
}